.row{:'data-equalizer' => true}
  #news.columns.medium-12.large-3.panel{:'data-equalizer-watch' => true}
    %h2 News
    %hr
    %ul.no-bullet
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
  #forum.columns.medium-12.large-6.xlarge-5{:'data-equalizer-watch' => true}
    = render policy_scope(Category.all)
  #updates.columns.medium-12.large-3.panel{:'data-equalizer-watch' => true}
    %h2 News
    %hr
    %ul.no-bullet
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
