.row{:'data-equalizer' => true}
  #updates.columns.medium-12.large-3.panel{:'data-equalizer-watch' => true}
    %h2 News
    %hr
    %ul.no-bullet
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
      %li
        %strong Lorem Ipsum
        %p Lorem ipsum calam set amer
  #forum.columns.medium-12.large-9{:'data-equalizer-watch' => true}
    = render @categories
