%h1
  Welcome to the Wyvern Rocks,
  = @user.name
%p
  You have sucessfully signed up to The Wyvern Rocks!
  %br
  To verify your e-mail and activate your account follow this link:
  = link_to "Verify E-Mail", @url
  %br
  %br
  %br
  %small
    If that link doesn't work, copy and paste this one into your browser:
    = @url

