.row
  .columns.small-offset-1.small-10
    %h1=@topic.name
  .columns.small-12.panel
    - if @user_can_reply
      = link_to "Reply", new_topic_post_path(@topic), class: "button tiny"
  .columns
    - @topic.posts.all.order(created_at: :desc).each do |p|
      .row
        = render p if p.persisted?
