.row
  .columns.small-offset-1.small-10
    %h1=@topic.name
  .columns.small-12
    .right
      - if policy(Post.new topic: @topic).new?
        = link_to "Reply", new_topic_post_path(@topic), class: "button tiny"
      - if policy(@topic).edit?
        = link_to "Edit Topic", edit_topic_path(@topic), class: "button tiny"
  .columns
    - @topic.posts.all.order(created_at: :asc).each do |p|
      .row
        = render p if p.persisted?
