// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';

.post {
    @include panel(
        $padding: 0
    );

    .header {
        border-bottom: 1px solid $panel-border-color;
        padding: 0.1rem;
    }

    .content {
        padding: 0.1rem;
    }

    .edit-button {
        @include button(
            $padding: 0.1rem,
            $radius: true
        );
        font-size: 0.8rem;
        position: relative;
        bottom: 1px;
        display: inline;
    }
}

