// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';

.topic {
    @include clearfix;
    @include panel(
        $padding: 0.8rem,
        $bg: white
    );
    border: none;
    margin-bottom: 0.25rem;
}
