.category-header
  %h2
    = link_to category.name, category
    - unless category.roles.empty?
      %span.label.info.right
        .has-tip{:'data-tooltip' => true, :'aria-haspopup' => true,
                 title: "Visible for: " + category.roles.map{|x| x.name}.join(',')}
          Visiblity
